.App {
  text-align: center;
  width: 70%;
  margin: auto;
  border: 1px solid green;
}

.header {
  background-color: #dbe4f7;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  border: 1px solid red;
  height: 100vh;
}